<label>Name</label>
<input type="text" name="name" value="<%= food.name %>">

<label>per quantity</label>
<input type="text" name="quantity" value="<%= food.quantity %>">
<br>
<label>Calories</label>
<input type="text" name="calories" value="<%= food.calories %>">
<br>
<label>Protein </label>
<input type="text" name="protein" value="<%= food.protein %>">
<br>
<label>Carbs </label>
<input type="text" name="carbs" value="<%= food.carbs %>">
<br>
<label>Fats </label>
<input type="text" name="fats" value="<%= food.fats %>">
